<div class="container-fluid pt-3 pb-3">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li (click)="clearCurrentColor()"
                routerLink="/colors" 
                [class]="getAllColorClass()">Tüm Renkler</li>
                <li (click)="setCurrentColor(color)"
                routerLink="/colors/{{ color.id }}"
                *ngFor="let color of colors"
                [class]="getCurrentColor(color)">{{ color.name }}</li>
            </ul>
            <h5 *ngIf="currentColor">{{ currentColor.name }} seçtiniz</h5>
        </div>
        <div class="col-md-9">
            <app-car></app-car>
        </div>
    </div>
</div>