<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Renk Düzenle</h1>
</div>

<div *ngIf="dataLoaded==false" class="p-3 mb-3 bg-light rounded shadow-sm">
    <div class="d-flex align-items-center">
        <strong>Loading...</strong>
        <div class="ms-auto">
            <div class="spinner-border spinner-border-md text-dark" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow spinner-grow-md text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="dataLoaded==true" class="bg-body rounded shadow-sm">
    <form [formGroup]="colorUpdateForm" (submit)="update()">
        <div class="p-3 bg-light">
            <div class="row">
                <label for="colorName" class="col-sm-2 col-form-label">
                    <strong class="align-middle">Renk Adı</strong>
                </label>
                <div class="col-sm-10">
                  <input type="text" formControlName="colorName" class="form-control form-control-lg rounded-0" id="colorName" placeholder="Renk adını giriniz..." />
                </div>
            </div>
        </div>
        <div class="p-3 bg-white">
            <div class="row">
                <div class="col-md-12 text-end">
                    <button type="submit" class="btn btn-primary rounded-0" [disabled]="disabledSaveButton()">
                        <span *ngIf="saveButtonLoaded==true" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span *ngIf="saveButtonLoaded==true" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        <span *ngIf="saveButtonLoaded==false">KAYDET</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>