<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a class="list-group-item list-group-item-action d-flex gap-3 py-3"
                (click)="clearCurrentBrand()"
                routerLink="/brands" 
                [class]="getAllBrandClass()" 
                aria-current="true">
                  <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                      <h6 class="mb-0">Tüm Markalar</h6>
                    </div>
                  </div>
                </a>
                <a class="list-group-item list-group-item-action d-flex gap-3 py-3"
                (click)="setCurrentBrand(brand)"
                routerLink="/brands/{{ brand.id }}"
                *ngFor="let brand of brands"
                [class]="getCurrentBrand(brand)" 
                aria-current="true">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                      <div>
                        <h6 class="mb-0">{{ brand.name }}</h6>
                      </div>
                    </div>
                </a>
            </div>
            <h5 *ngIf="currentBrand">{{ currentBrand.name }} seçtiniz</h5>
        </div>
        <div class="col-md-9">
            <app-car></app-car>
        </div>
    </div>
</div>