<div class="container">
    <div class="pt-3 pb-3">
        <div *ngIf="dataLoaded==false" class="spinner-border text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    
        <div *ngIf="dataLoaded==true">
            <p>Marka : {{ carDetail.brandName }}</p>
            <p>Renk : {{ carDetail.colorName }}</p>
            <p>Fiyat : {{ carDetail.dailyPrice }}</p>
            <p>Açıklama : {{ carDetail.description }}</p>
        </div>
    
        <app-car-images></app-car-images>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Teslim Tarihi : </label>
                    <input class="form-control" type="date" name="rentDate" [(ngModel)]="rentDate" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>İade Tarihi : </label>
                    <input class="form-control" type="date" name="returnDate" [(ngModel)]="returnDate" />
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-success" (click)="addToCart(carDetail)">KİRALA</button>
    </div>
</div>