<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Yeni Marka Ekle</h1>
</div>

<div  class="bg-body rounded shadow-sm">
    <form [formGroup]="brandAddForm" (submit)="add()">
        <div class="p-3 bg-light">
            <div class="row">
                <label for="brandName" class="col-sm-2 col-form-label">
                    <strong class="align-middle">Marka Adı</strong>
                </label>
                <div class="col-sm-10">
                  <input type="text" formControlName="brandName" class="form-control form-control-lg rounded-0" id="brandName" placeholder="Marka adını giriniz..." />
                </div>
            </div>
        </div>
        <div class="p-3 bg-white">
            <div class="row">
                <div class="col-md-12 text-end">
                    <button type="submit" class="btn btn-primary rounded-0" [disabled]="disabledSaveButton()">
                        <span *ngIf="saveButtonLoaded==true" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span *ngIf="saveButtonLoaded==true" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        <span *ngIf="saveButtonLoaded==false">KAYDET</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>